- model_class = Tutorial
.page-header
  %h1.text-center
    %span.admin-header
      Course(#{@course.name}) ->
      = t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "form"

- content_for(:javascript) do
  :javascript
    $('.selectpicker').tokenfield('setTokens', JSON.parse($('.selectpicker').attr('data')))
