%ul.list-unstyled.side-li
  %li
    = link_to admin_courses_path do
      %span.glyphicon.glyphicon-book
      Courses
  %li
    = link_to admin_users_path do
      %span.glyphicon.glyphicon-user
      Users
  %li
    = link_to admin_tags_path do
      %span.glyphicon.glyphicon-tags
      Tags
