- model_class = Video
.page-header
  %h1.text-center
    %span.admin-header
      #{@tutorial.course.name} -> #{@tutorial.title} ->
      = t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "form"
