= simple_form_for [:admin, @tag], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.button :submit, :class => 'btn-primary col-md-offset-2'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_tags_path, :class => 'btn btn-default'
