- if @current_user
  .container
    .row
      .col-md-12
        #mobnav-btn
        %ul.sf-menu
          %li
            %a{href: "/"} Home
          - if @courses.present?
            %li
              %a{href: "#"} Courses
              .mobnav-subarrow
              %ul{style: "display: none;"}
                - @courses.each do |course|
                  %li
                    = link_to course.name, course_path(course)

          - if @current_user.is_admin
            %li
              %a{href: "#"} Admin Panel
              .mobnav-subarrow
              %ul{style: "display: none;"}
                %li
                  = link_to 'Courses', admin_courses_path
                %li
                  = link_to 'Users', admin_users_path
                %li
                  = link_to 'Tags', admin_tags_path
        .col-md-3.pull-right.hidden-sm.hidden-xs.search-bar
          .header-search
            %form.form{role: "form", action: '/'}
              .input-group
                %input.form-control.selectpicker_nav{placeholder: "Search by tag...", type: "text", name: 'search', value: params[:search] ? params[:search] : ''}
                  %span.input-group-btn
                    %button.btn.btn-default{type: "submit"}
                      %li.glyphicon.glyphicon-search
