@import "bootstrap"
@import "bootstrap/variables"
@import "bootstrap-tokenfield"
@import "jquery.ui.all"
@import "styles"
@import "superfish"

$theme-color: #294e65
$header-color: #FFFFFF

h3
  color: $theme-color

h1.page-header
  color: $theme-color

.modal-header
  background-color: $theme-color

.navbar
  background-color: $header-color
  border-color: $header-color

.modal-lg
  width: 750px

.navbar-nav > li > a
  font-size: 20px
  color: #022D4F

.navbar-brand
  @include text-hide
  background-image: image-url("logo.png")
  height: 50px
  width: 250px

.breadcrumb
  margin-top: 20px
  background-color: #FFFFFF
  margin-bottom: 0px

.breadcrumb > li + li:before
  content: "\00BB"

.breadcrumb > .active
  color: #070707
