.search_box {
  background-color: #294e65;
  height: 300px;
}
.text-description {
  font-size: 20px;
  padding: 10px 0px 0px 15px;
  height: 100px;
}
.course-image {
  width: 110px;
  height: 110px;
}
.position-image {
  position: absolute;
  left: -35px;
  top: -25px;
}
.position-video {
  position: absolute;
  left: -15px;
  top:  90px;
}
.video-count {
  font-size: 15px;
  color: #A7A7A7;
}
.search-box {
  #tutorial_title {
    width: 100%;
  }
}
.title {
  color: #FFFFFF;
}
.title-3d {
  font-size: 90px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.description {
  color: #FFFFFF;
  background-color: #008080;
  line-height: 35px;
  font-size: 18px;
  border: 2px solid #7e7e7e;
  margin-top: 15px;
  border-radius: 30px;
}
.active-tag {
  background-color: #008080;
  color: #FFFFFF;
}
.modal-header{
  background-color: #396B8A;
  color: #FFFFFF;
}
.btn-watch {
  color: #FFFFFF;
  background-color: #008080;
  border-color: #008080;
  margin: 20px 30px;
}
.big-icon {
  font-size: 25px;
}
.admin-description {
  height: 150px !important;
}
.animate {
  margin-left: -1000px;
}
.close {
  opacity: 1;
  color: #FFFFFF;
}
td.full-description {
  width: 25%;
}
.bottom-space {
  margin-top: 70px;
}
.video {
  background-image: url(http://subtlepatterns.com/patterns/natural_paper.png);
  border-radius: 20px;
  box-shadow: 7px 2px 0px 4px #E4E4E4;
}
.login-form {
  padding: 20px;
}
.login-form .control-label {
  color: #FFFFFF;
}
.login-form input[type="text"], , input[type="password"] {
  width: 150%;
}
.a-title {
  color: #000000;
}
.a-title:hover {
  text-decoration: none !important;
}
.place {
  margin-left: 70px;
}
.nav-course {
  margin-bottom: 0px;
}
.header-tag {
  margin: 0;
}
.nav-side {
  min-height: 1000px;
  background-color: #294E65;
}
.nav-main {
  min-height: 1000px;
  border-top: 10px solid #294E65;
}
.side-li li {
  padding: 30px 0px 0px 50px;
}
.side-li li a {
 color: #FFFFFF;
}
.side-li li a:hover {
  color: #fff;
  background-color: #3d566e;
}
.admin-header {
  color: #294E65;
}
.tokenfield .token {
  background-color: #3A87AD;
}
.token-label {
  color: #FFFFFF;
}
